<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA Tracker</title>
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
</head>

<body>
    <img src="../static/images/crowd-worshiping.jpg" alt="Crowd Worshiping">
    <header></header>
    <main>
        <section>
            <div>
                <h1>Track Your Church Activites</h1>
                <p>Events Performance, Services, Visitors Count</p>
                <button type="button" class="btn btn-dark">Dark</button>
            </div>
            <div>
                <img src="../static/images/lady-worshiping.jpg" alt="Lady Worshiping">
            </div>
        </section>
    </main>

    <script src="../static/javascript/bootstrap.min.js"></script>
</body>

</html>