body {
    background-color: rgb(8, 0, 17);
}

#bg-image {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    /* display: none; */
    opacity: 0.1;
}

main {
    position: relative;
    z-index: 1;
}

#hero-image {
    width: 100%;
    box-shadow: 20px 20px 1px #0dcaf0;
}

@media (max-width:990px) {
    section div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1,
    p {
        margin-top: 40px;
        text-align: center;
    }
    button {
        /* margin-top: px; */
        text-align: center;
    }
    #hero-image {
        width: 70vw;
    }
}